{% extends "base.html" %}

{% block content %}

{% from "includes/_formhelpers.html" import render_field %}

<div class="jumbotron">
    <h1 class="text-center">Historia Bitácoras </h1>
    <div class="rigth">
        <h2>User : {{username}}</h2>
        <span><a href="{{ url_for('auth_bp.logout') }}">Logout</a></span>   
    </div>
</div>

<div class="container">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h3 style="text-align: center;">Interacciones</h3>
                        </div>
                    </div>
                    <div class="center">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th> Fecha </th>
                                    <th> Nombre </th>
                                    <th> Tipo </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ul in userlogs.logs | sort(attribute='created_at') %}
                                    {% for interaction in ul.whointeracts %}
                                    <tr>
                                        <td>
                                            {{ ul.created_at.strftime('%Y-%m-%d') }}
                                        </td>
                                        <td>
                                            {{ interaction.name }}
                                        </td>
                                        <td>
                                            {{ interaction.tipe }}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

            <div class="col">
                <div class="container">
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}