<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{title}}</title>
    <link rel="stylesheet" href="../static/assets_Signup/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sanchez">
    <link rel="stylesheet" href="../static/assets_Signup/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="../static/assets_Signup/css/Registration-Form-with-Photo.css">
    <link rel="stylesheet" href="../static/assets_Signup/css/smoothproducts.css">
</head>
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container">
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto"></ul>
            </div>
        </div>
    </nav>
    <section class="clean-block clean-form dark" style="background-color: rgba(49,82,91,0.96);">
        <div class="container">
            <div class="block-heading">
                <h2 style="color: rgb(255,255,255);font-family: Sanchez, serif;"><img src="../static/assets_Signup/img/network%20(2).png" style="width: 103px;height: 100px;">&nbsp;<strong>Crear </strong>una cuenta</h2>
                <p style="color: rgb(255,255,255);">Recuerda seleccionar tu empresa, de lo contrario tu registro se hara como independiente.</p>
            </div>
            {{ wtf.quick_form(form) }}
            <form style="font-family: Sanchez, serif;">
                <hr style="margin: 20px;">
                    
                    <div style="width: 380px;margin: 0px 50px;"><a href="{{ url_for('auth_bp.login') }}" style="margin: 0px 80px 0px;font-size: 14px;font-family: Sanchez, serif;">Ya tiene una cuenta? Login</a></div>
                    <hr><a class="btn btn-primary btn-block" role="button" href="/oauth" style="background-color: #31525b;font-family: Sanchez, serif;"><i class="fab fa-google"></i>&nbsp;Entrar con mi cuenta Google</a>
           </form>
        </div>
    </section>
    <script src="../static/assets_Signup/js/jquery.min.js"></script>
    <script src="../static/assets_Signup/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="../static/assets_Signup/js/smoothproducts.min.js"></script>
    <script src="../static/assets_Signup/js/theme.js"></script>
</body>
{% endblock %}
</html>










