{% import "bootstrap/wtf.html" as wtf %}
{% extends "dashboard.html" %}
{% block title %}
    
{% endblock %}
{% block content %}
{% from "includes/_formhelpers.html" import render_field %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="u_fNK">
			</div>
			<div class="u_fNK">
				<div>
					<div>
						<div>
							<div>
								<div class="_2okjE _1-uTj">
									<span class="_3r4Mt"></span>
								</div>
							</div>
							<div>
								<div class="_5WizN _1QzSN">
									<div class="_3YmQx">
										<div class="">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<form action="{{url_for('admin_bp.addsymptom')}}" method="POST">
						<div class="form-group">
							{{ form.hidden_tag() }}
							{{ render_field(form.symptom, class_="form-control", placeholder="Sintoma") }}
						</div>
						<!--
						<div class="form-group">
							{{ render_field(form.active, class_="form-control") }}
						</div>
						-->
						<p class="text-right">
							<input type="submit" class="btn btn-lg btn-primary btn-block" value="Guardar"/>
						</p>
					  </form>
				</div>
				<div class="col-md-4">
          <!-- 
          {{ wtf.quick_form(form) }}
		  -->
					<table class="table table-striped">
						<thead>
							<tr>
								<th>
									#
								</th>
								<th>
									Sintoma
								</th>
								<th>
									Activo
								</th>
								<th>
									Edit
								</th>
							</tr>
						</thead>
						<tbody>
							{% if symptoms %}
								{% for sintoma in symptoms %}
								<tr>
									<td>
									{{ sintoma.id }}
									</td>
									<td>
									{{ sintoma.symptom }}
									</td>
									<td>
									<label>
										<input type="checkbox" id={{sintoma.id}} {% if sintoma.active %} checked {% endif %} />
									</label>
									</td>
									<td>
										<div class="btn-group-toggle">
											<label class="btn btn-sm btn-info active">
												<a href="/admin/symptoms/{{sintoma.id}}">Guardar</a>
											</label>
										</div>
									</td>
								</tr>
								{% endfor%}
              				{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}